@use '../../variables.scss' as *;

.notification {
    position: absolute;
    background: white;
    top: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 18rem;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    border: 1px solid #999;
    border-radius: 0.25rem;
    opacity: 0;
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 2.5s;
    .icon {
        display: flex;
        margin-right: 0.375rem;
        align-items: center;
    }
}

.success {
    border-top: 4px solid #00d123;
}

.error {
    border-top: 4px solid #d10000;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}
