// GAPS
$gap-1-4: 0.125rem;
$gap-1-2: 0.25rem;
$gap-1: 0.5rem;
$gap-2: 0.75rem;
$gap-4: 1rem;
$gap-6: 1.25rem;
$gap-8: 1.5rem;
$gap-10: 2rem;

// COLORS
$color-danger: #d10000;
$color-success: #00d123;
$color-primary: #0096d1;

// FONTS
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
